% vim:ft=erlang:
{deps_dir, ["deps"]}.
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
	"rel",
	"apps/hint_mfa_search",
	"apps/hint_search"
]}.
{erl_opts, [debug_info, {i, "apps"}]}.
{xref_checks, [undefined_function_calls]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{cover_enabled, true}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
	{saloon, "0.1.*", {git, "https://github.com/manpages/saloon-core.git", "master"}}
]}.
