% vim:ft=erlang:
{deps_dir, ["deps"]}.
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
	"rel",
	"apps/hint_search"
]}.
{erl_opts, [debug_info, {i, "apps"}]}.
{xref_checks, [undefined_function_calls]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{cover_enabled, true}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
	{cowboy,    ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}}
	%{proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.0"}}}
]}.
